.wqsf_cpt_div{float:left;margin-right:10px;}
li.desc{list-style:none;line-height:10px;color:#424242;margin-left:5px;}
#TB_ajaxContent span{font-weight:bold;}
span.desciption {font-style:italic;color:#424242;font-weight:normal;}

